@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --roxo-um: #bd00ff;
    --roxo-dois: #710099;
    --roxo-tres: #7807a0;
    --roxo-quatro: #8c0098;
    --roxo-cinco: #9e00ff;
    --roxo-seis: #6600ff;
    --cor-fundo: #ffffff;
    --cor-footer: #fef7ff;

}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--cor-fundo);
    font-family: "inter", sans-serif;
}

@media (max-width: 480px) {

    /*Login*/

    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100%;
    }

    .logo_imagem {
        height: 220px;
    }

    .logo_titulo {
        height: 75px;
        z-index: 1;
        position: absolute;
        top: 307px;
    }

    .logo_sombra_titulo {
        height: 100px;
        z-index: -1;
        position: relative;
    }

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50vh;
        width: 100%;
        gap: 30px;
    }

    .login div {
        gap: 5px;
        width: 70vw;
        display: flex;
        flex-direction: column;
    }

    .login p {
        font-weight: 16px;
        text-align: justify;
        font-size: 17px;
    }

    .login input {
        border: 3px solid var(--roxo-um);
        border-radius: 8px;
        height: 45px;
        padding-left: 10px;
    }

    .login_logar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        background-color: var(--roxo-um);
        height: 45px;
        width: 50%;
        border-radius: 8px;
        color: #ffffff;
    }

    .login_cadastrar {
        color: var(--roxo-um);
    }

    /*Header*/

    .cabecalho {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--cor-footer);
        height: 8%;
        width: 100%;
    }

    .cabecalho_titulo {
        color: var(--roxo-um);
        font-size: 1.7em;
        font-weight: 800;
    }

    .cabecalho_menu {
        width: 2em;
    }

    .cabecalho_usuario {
        width: 4em;
    }

    /*Footer*/

    .rodape {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 7%;
        background-color: var(--cor-footer);
    }

    .rodape_icones {
        width: 1.5em;
    }

    /*Home*/

    .historico {
        overflow-y: auto;
        height: 85%;
    }

    .historico_titulo {
        color: var(--roxo-um);
        font-size: 48px;
        font-weight: 800;
        padding: 25px 25px 0 25px;
    }

    .historico_conteudo {
        padding: 25px 25px 15px 25px;
        width: 100%;
    }

    .historico_conteudo_titulo {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .historico_conteudo_descricao {
        font-size: 20px;
        font-weight: 200;
        width: 70%;
        margin-bottom: 15px;
    }

    .historico_conteudo_imagem {
        width: 100%;
    }

    /*Medicamentos*/

    .medicamentos {
        overflow-y: auto;
        height: 85%;
        padding: 25px;
    }

    .medicamentos_titulo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    .medicamentos_titulo h2 {
        font-size: 36px;
        font-weight: 800;
        color: var(--roxo-um);
    }

    .medicamentos_secao {
        display: flex;
        align-items: center;
        margin-top: 43px;
    }

    .medicamentos_secao_conteudo {
        padding-left: 20px;
    }

    .medicamentos_secao_conteudo_titulo {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 800;
        color: var(--roxo-tres);
    }

    .medicamentos_secao_conteudo_descricao {
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: 400;
    }

    .toggle_container{
        background-color: #fff;
        display: flex;
        align-items: center;
    }

    .toggle_switch {
        background-color: lightgrey;
        width: 65px;
        height: 35px;
        border-radius: 200px;
        position: relative;
        transition: 0.2s;
    }

    .toggle_switch::before {
        position: absolute;
        content: '';
        background-color: var(--cor-fundo);
        width: 30px;
        height: 30px;
        border-radius: 200px;
        margin: 2.5px;
        transition: 0.2s;
    }

    input:checked + .toggle_switch {
        background-color: var(--roxo-um);
    }

    input:checked + .toggle_switch::before {
        transform: translateX(30px);
    }

    input {
        display: none;
    }

    /*Estatisticas*/

    .stats {
        overflow-y: auto;
        height: 85%;
        padding: 25px 30px 0 30px;
    }

    .stats_inicio {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;
    }

    .stats_inicio_titulo {
        font-size: 40px;
        font-weight: 200;
        width: 100%;
        text-align: center;
        border-bottom: 0.5px solid black;
    }

    .stats_peso {
        display: flex;
        gap: 10px;
        margin: 30px 0 30px 0;
    }
    
    .stats_peso_img {
        width: 80px;
    }

    .stats_peso_descricao {
        padding-top: 5px;
    }

    .stats_peso_descricao_titulo {
        font-size: 24px;
        font-weight: 400;
    }

    .stats_peso_descricao_valor {
        font-size: 24px;
        font-weight: 200;
    }

    .stats_treino {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
    }

    .stats_treino_img {
        width: 80px;
    }

    .stats_treino_descricao {
        padding-top: 10px;
    }

    .stats_treino_descricao_titulo {
        font-size: 24px;
        font-weight: 400;
    }

    .stats_treino_descricao_lista{
        list-style-type: none;
        font-size: 24px;
        font-weight: 200;
    }
}